In [1]:
"h"

'h'

In [2]:
a=10

In [3]:
print(a)

10

In [5]:
import pandas

In [6]:
import os

In [7]:
ai="a" #identifiers intiallising the values

In [8]:
ai

'a'

In [9]:
a_i=12

In [10]:
a_i

12

In [11]:
list=[1,2,3,4]

In [12]:
list2=[22,44]

In [15]:
list+list2 #concat

[1, 2, 3, 4, 22, 44]

In [16]:
list*2 #repetetiom

[1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
list.append[100]

TypeError: 'builtin_function_or_method' object is not subscriptable

In [18]:
print(10 in list) #verifying

False

In [19]:
list[2] #indexing

3

In [20]:
list[10]

IndexError: list index out of range

In [21]:
list #to check all elements in the list

[1, 2, 3, 4]

In [23]:
list[0:2] #slicing

[1, 2]

In [24]:
list[::-1] #reversing

[4, 3, 2, 1]

In [26]:
list[1:]#starting point is declared

[2, 3, 4]

In [28]:
list[0:4:2]#slicing wen we want a particular order in a sequence

[1, 3]

In [31]:
list[-2]

3

In [32]:
list[2]="ss"

In [33]:
list

[1, 2, 'ss', 4]

In [34]:
del(list[1]) #deleting a particular elemnt based on index

In [35]:
list

[1, 'ss', 4]

In [36]:
list.remove("ss") #based on element

In [37]:
list

[1, 4]

In [41]:
list[1]="xx"

In [42]:
list

[1, 'xx']

In [44]:
list.insert(1,"xxx")

list

In [45]:
list

[1, 'xxx', 'xx']

In [1]:
import sys

In [2]:
sys.version

'3.6.5 |Anaconda, Inc.| (default, Mar 29 2018, 13:32:41) [MSC v.1900 64 bit (AMD64)]'

In [4]:
import platform
platform.python_version()

'3.6.5'

In [5]:
int(6/3)

2

In [6]:
#operators
8%2

0

In [8]:
#to know which type
y=2.33333333333333333
type(y)

float

In [11]:
#strings
a="sssss"
type(a)
len(a)

5

In [12]:
1a=22 #naming the variable with number as starting letter

SyntaxError: invalid syntax (<ipython-input-12-1ae2a338f75e>, line 1)

In [13]:
a=None #a is reintialised as none value (empty)
print(a)

None

In [14]:
a is None

True

In [15]:
a=null #null is not a keyword

NameError: name 'null' is not defined

In [16]:
number=33.33
int(number) #type casting

33

In [17]:
string="sssss"
int(string)

ValueError: invalid literal for int() with base 10: 'sssss'

# str(number) USE MARKDOWN METHOD

In [20]:
#DATASTRUCTURES
#TUPLES WHICH ARE ONE OF THE METHODS THAT CAN'T BE CHANGED(IMMUTABLE)

In [21]:
tuples=(1,2,3,4,(1,2))

In [24]:
tuples[4]

(1, 2)

In [25]:
len(tuples)

5

In [27]:
tuples.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:

tuples[5]="xxx"

TypeError: 'tuple' object does not support item assignment

In [30]:
#KEYWORD LIST
import keyword
a=keyword.kwlist
print(a)

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [31]:
tuples[1:4]

(2, 3, 4)

In [1]:
 #dictionaries
dic={"name1":"Sudhakar","name2":"Anoop","name3":"soumith"}

In [2]:
dict

dict

In [3]:
dic.values()

dict_values(['Sudhakar', 'Anoop', 'soumith'])

In [4]:
dic.keys()

dict_keys(['name1', 'name2', 'name3'])

In [5]:
dic["Sudhakar"]

KeyError: 'Sudhakar'

In [6]:
dic

{'name1': 'Sudhakar', 'name2': 'Anoop', 'name3': 'soumith'}

In [7]:
dic["name1"]

'Sudhakar'

In [10]:
dic.update({"name4":["s","y"]})

In [11]:
dic

{'name1': 'Sudhakar',
 'name2': 'Anoop',
 'name3': 'soumith',
 'name4': ['s', 'y']}

In [12]:
#set removes the duplicates the values
a=[1,2,3,34,2]
set(a)

{1, 2, 3, 34}

In [14]:
a.insert(4,5)

In [15]:
a

[1, 2, 3, 34, 5, 2]

In [16]:
set(a)

{1, 2, 3, 5, 34}

In [17]:
1 in a #checking whether it is present or not

True

In [18]:
10 in a

False

In [19]:
name="sudhakar" #in Strings
"p" in name

False

In [21]:
tuples1=(1,2,3)
tuple2=("a","b","c")
tuples22=tuples1+tuple2

In [23]:
tuples22

(1, 2, 3, 'a', 'b', 'c')

In [28]:
newTuple=(1,2,3)*3 # what we assume is we are trying chamnge the tuple aan
#and ii will give an error

In [29]:
newTuple

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [26]:
a

[1, 2, 3, 34, 5, 2]